.cart-dropdown {
  width: 20rem;
  height: 100%;
  margin-top: 2.7rem;
  padding: 20px;

  background-color: white;

  z-index: 5;

  .empty-message {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
  }

  .cart-items {
    width: 15rem;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}

::-webkit-scrollbar {
  display: none;
}
